<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user.explorer.equals(explorer._id)) { %>
  <h2>This is your page</h2>
  <% } else { %>
  <h2>This is not your page</h2>
  <% } %>
</main>

<%- include('../partials/footer') %>