<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>This is where the starfleets page will be</h1><br>
  <a href="/starfleets/new">Create your own Starfleet</a>
</main>

<%- include('../partials/footer') %>