<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>This is where you can see other explorers and starfleets Explorations</h1>
</main>

<%- include('../partials/footer') %>